@model sashkogram.Models.ProfileViewModel

@{
    ViewBag.Title = "ChangeAvatar";
    Layout = "~/Views/Shared/sashkogram_layout.cshtml";
}

<h2>Photos</h2>
<div>
    <a href="/Home/AddAvatar/@Model.Id">
        Add avatar
    </a>
</div>

<div class="placeForPhotos">
    @for (int item = 0, photo = 0; item < Math.Ceiling((double)Model.Avatars.Count() / 3); item++)
    {
        <div style="clear:both">
            @for (int cell = 0; cell < 3; cell++)
            {
                <div class="stylePhoto statisticUser">
                    @if (photo < Model.Avatars.Count)
                    {
                        @Html.Raw("<img style='width:250px; height:300px;' src=\"data:image/jpeg;base64,"
                                     + Convert.ToBase64String(Model.Avatars.ToList()[(Model.Avatars.Count() - 1) - (photo++)].Image) + "\" />")

                    }
                </div>
            }
        </div>
    }
</div>