
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сторінку заблоковано</title>
    <link rel="stylesheet" href="~/Content/Style.css" />
</head>
<body>
    <div>
        <a href="/Account/Account/Logout">
            <img src="~/Content/blocked.jpg" width="100%"  />
        </a>
    </div>
</body>
</html>
