
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Помилка</title>
    <link rel="stylesheet" href="~/Content/Style.css" />
</head>
<body>
    <div>
        <a href="/Home/Index"> 
            <img src="~/Content/error.png" id="error" />
        </a>
    </div>
</body>
</html>
