@model IEnumerable<InspectionBoard.Domain.Entity.University>

@{
    ViewBag.Title = "DisplayUniversities";
    Layout = "~/Views/Shared/Body.cshtml";
}

<h2>Список університетів</h2>
 
<table class="table ">

    @foreach (var item in Model)
    {
        <tr>

            <td>
                <a href="/Home/DisplayFaculty/@item.Id#section2">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>

            <td> 
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}